# Environment
.venv/

#Python Cache
__pycache__/
*.pyc

# Tests / Formatting
.ruff_cache/
.mypy_cache/
.pytest_cache/

# ML
wandb/
mlruns/
mlartifacts/
/checkpoints/
runs/

# Environment Variables
.env

# VSCode Config
.vscode/